*~
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/elpa/
/emacs/.emacs.d/eshell/
/emacs/.emacs.d/history
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/places
/emacs/.emacs.d/recentf
/emacs/.emacs.d/smex-items
/emacs/.emacs.d/tramp
/emacs/.emacs.d/type-break
/emacs/.emacs.d/url/
\#*
